<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
	<key>afterScreenUpdates</key>
	<true/>
	<key>com.apple.runningboard.assertions.frontboard</key>
	<true/>
	<key>com.apple.runningboard.primitiveattribute</key>
	<true/>
	<key>com.apple.runningboard.trustedtarget</key>
	<true/>
	<key>NSUserTrackingUsageDescription</key>
	<string>Diese App verwendet keine Tracking-Funktionen</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Zum Speichern von PDF-Exporten wird Zugriff auf Ihre Fotos benötigt</string>
</dict>
</plist>
